{% extends "search_engine/layout.html" %}
{% block title %}Search{% endblock %}

{% block body %}
    
    <h1 class="logo">Lucene Search</h1>
    <form name="search-form" action="{% url 'search' %}" method="post" >
        {% csrf_token %}
        <div class="input_text">
            <input type="text" name="q">
        </div>
        <div class="button_group">
            <div class="search_button">
                <input type="submit" value="Search"> 
            </div>
            <div class="select_button">
                <select class="select_fields" name="field">
                    {% for field in fields %}
                        <option value="{{ field }}">{{ field }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    
{% endblock %} 


